/* ==========================================================================
   Base Typography
   ========================================================================== */
   
:host-context(.platform-mac),
body.platform-mac,
body.platform-mac ::shadow {
  
  .monospace,
  .source-code {
    font-size: $font-size !important;
    line-height: $line-height !important;
    font-family: $mac-fonts !important;
    
    // Apply antialiased setting for dark themes only
    // http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
    @if $dark-theme == true {
      -webkit-font-smoothing: auto;
    }
  }
}

:host-context(.platform-windows),
body.platform-windows,
body.platform-windows ::shadow {
  
  .monospace,
  .source-code {
    font-family: $win-fonts !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
  }
}

:host-context(.platform-linux),
body.platform-linux,
body.platform-linux ::shadow {
  
  .monospace,
  .source-code {
    font-family: $lin-fonts !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
  }
}

